.App {
  /* text-align: center; */
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.header {
  text-align: center;
  background-color: brown;
}

/* Layout */

.App {
  background-color: gray;
  border: 1px solid black;
  max-width: 1400px;
  margin: 0 auto;
}

.contact-card {
  /* border: 1px solid magenta; */
  margin: 1em;
}

.contact-components {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1em;

  max-width: 90%;
  margin: 0 auto;
  background-color: #fff;
}

.contact-card {
  background-color: burlywood;
  margin: 0;
}

.contact-card-image {
  max-width: 100%;
}